@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
    background-color:black; 
    text-align:center; 
}
h1,h2,h3,h4 {
    font-weight: 700;
}
h2 { 
    font-size:217px;
}
h4 { 
    font-size: 67px;
}
h1 { 
    font-size:187px;
}

h1,h3 { 
    background-color: white;
}
h2, p, h4{ 
    color:white;
}
h3 { font-size: 48px;}

span, p { 
    font-weight: 600; 
}
p { 
    font-size: 59px;
}
strong { 
    font-size: 60px;
}





