@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');
body { font-family: 'Roboto', sans-serif; ;}

h1 { font-family: 'Roboto Slab', serif; color: #0a2ff1; font-size: 96px; font-weight: 700;}
h2 {font-weight: 400; color:#04146c;font-size: 34px;}

a { font-size: 20px; color: #04146c; font-weight: 400; text-decoration: none; margin-right: 10px;}
.activo { font-weight: 700;}
#logo { width: 5%;}
nav, header { width: 100%;}
nav { display: flex; align-items: center;}
header { text-align:center;}
img { width: 100%;}

