@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* { box-sizing: border-box;}
body, button, input {
    font-family: 'Mulish', sans-serif;
   
}

body{ text-align: center;}

h1 {
    font-size: 24px;
    color: #04146c;
    font-weight: 700;
}

input, button {
    border: 1px solid #04146c;
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

button, input {
    display: block;
}



button {

    color: white;
    background-color: #0a2ff1;
    font-weight: 600;
}

form {
    border-bottom: 1px solid #04146c;
    padding-bottom: 10px;
    width: 500px;
    margin: auto;
    
}

p {
    font-weight: 400;
    color: #0a2ff1;
    font-size: 20px;
}