@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


body { font-family: 'Poppins', sans-serif;  color: #0a2ff1;}
h1 { font-size: 78px; font-weight: 700; }
img { width: 400px; background-image: url(../imagenes/fondo.JPG);}
div { width: 100%;}
span { background-color: #3ffff3;}


p { font-weight: 500; font-size: 30px;}


